.main-footer {
    background-color: black;
    height: 4rem;
  text-align: center;
  width: 100%;
  display: flex;
}

.footer-inner {
    margin:auto;
    color: white;
    font-family: 'Druk Wide Web';
	font-weight: 700;
    font-size: 8px;
	letter-spacing: 1.3px; 
    text-transform: uppercase;
}


