
.navbar-toggler:focus {
  outline: none;
}

.main-header {
	display:none;
}

.otomo-logo {
	width: 200px;
	margin-left: 22px;
	margin-top: 14px;
	padding-bottom: 16px;
}

.navbar {
    background-color: black;

    &-toggler {
        margin-top: 1rem;
	height: 37px;
	margin-bottom: 5%;
	margin-right: 19px;
	padding-bottom: 10px;
	position: absolute;
	right: 0;
	top: 0;
    border: none;
    
    &-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em
    }
    }
    
    &-nav {
        text-align: center;
        padding-top: 70px;
        height: 100vh;
        width: 100%;
        background-color: black;
    }
}

.nav-item {
	padding-top: 63px;
}


a {
	color: white;
	font-family: 'Druk Wide Web';
	font-size: 15px;
	letter-spacing: 1.3px; 
	font-style: normal;
	font-stretch: normal;
	text-transform: uppercase;
}

a:hover {
	color: white;
	text-decoration: underline;
}

.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='1' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white !important;
}



@media (min-width:900px) {
.navbar {
    display: none;
}   

.main-header {
    background-color: black;
    width: 100%;
    height: 6rem;
    display:block;

   &-nav {
       display: flex;
       justify-content: space-between;

       &-items {
           list-style: none;
           display: flex;
           margin-top: 2.2rem;
           margin-right: 5rem;
       }

   }

   a {
    padding-left: 1.5rem;
    color: white;
    font-family: 'Druk Wide Web';
	font-weight: 700;
    font-size: 8px;
	letter-spacing: 1.3px; 
	text-transform: uppercase;
   }

}

.otomo-logo {
    width: 15rem;
    margin-top: 2.1rem;
}

}