
    .info {
      margin-top: 5rem;
      height: 100%;
      margin-bottom: 5rem;
  }
  
   #address-title {
    text-transform: uppercase;
    text-align: center;
    color: #999898;
    font-size: .55rem;
    font-family: 'Druk Wide Web';
  }
  
  #business-title {
    font-size: .55rem;
    text-align: center;
    text-transform: uppercase;
    color: #999898;
    font-family: 'Druk Wide Web';
  }
  
  .address {
    text-align: center;
    color: grey;
    font-size: 1rem;
    font-family: 'Gt America';
    }
  
  .business {
    text-align: center;
    margin-top: 6rem;
    color:grey;
    font-size: 1rem;
    font-family: 'Gt America';

  }
  
  
  
  .business-list {
    list-style: none;
    margin-right: 38px;
  margin-top: 16px;
  }
  
  .address-list {
    list-style: none;
    margin-right: 30px;
    margin-top: 16px;
  }
  
  
  