h3 {
	text-transform: uppercase;
	margin: auto;
	text-align: center;
	font-size: 12px;
	font-family: 'Druk Wide Web';
}

.title {
	margin-top: 1rem;
}

.col-sm-12 {
	 height: 100%;
}

.row {
	color: white;
	height: 33vh;
}

.row-description {
	font-size: 14px;
	width: 20rem;
	margin: 1rem auto;
	text-align: center;
}

.one {
	background: url(../photos/video.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
}

.two {
	background: url(../photos/audio.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	
}

.three {
	background: url(../photos/meta.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;

}

.four {
	background: url(../photos/vr.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	
	
}

.layer {
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media (min-width: 1100px) {
	h3 {
		font-size: .9rem;
	}

	.title {
		margin-top: 23vh;
	}
	
	.col-sm-12 {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		height: 82vh;
	}

	.row {
		background-color: black;
		color: white;
		height: 100%;
	}

	.row:hover {
		transform: scale(1.02);
		transition: all .5s;
	}
	
	.row-description {
		visibility:hidden;
	}
	.row:hover .row-description {
		visibility: visible;
	}

	
	

	.one {
		background: url(../photos/video.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 100%;
		flex: 1;
	}
	
	
	.two {
		background: url(../photos/audio.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		flex: 1;
		height: 100%;
	}
	
	.three {
		background: url(../photos/meta.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		flex: 1;
		height: 100%;
	}
	
	.four {
		background: url(../photos/vr.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		flex: 1;
		height: 100%;
	}
	
	
	.layer {
		background-color: rgba(0, 0, 0, 0.3);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.headers {
		margin-top: 13rem;
	}
	
	}

@media (min-width: 1281px) {
	.title {
		margin-top: 30vh;
	}
	
	.col-sm-12 {
	height: 90vh;
	}
  }